@model VoteWithYourWallet.Models.Cause
@{
    ViewData["Title"] = "Create Cause";
}

<script src="~/js/cause-create.js"></script>

<div class="container h-75 d-flex flex-column">
    
    <div class="container h-95">
        <div class="row h-95 justify-content-center align-items-center">
            <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                <div class="display-2 text-center p-5">Create A Cause</div>
                <form id="createCauseFrom" method="post" asp-controller="Cause" asp-action="Create">
                    <div class="pb-3">
                        <label asp-for="Name">Name</label>
                        <input id="name" asp-for="Name" class="form-control" />
                        <span id="errorName" asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="pb-3">
                        <label asp-for="Subject">Subject</label>
                        <input id="subject" asp-for="Subject" class="form-control" />
                        <span id="errorSubject" asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="pb-3">
                        <label asp-for="Description">Description</label>
                        <textarea id="description" asp-for="Description" class="form-control"></textarea>
                        <span id="errorDescription" asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>