@model List<VoteWithYourWallet.Models.Cause>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Causes";
}



@if (Model != null && Model.Count > 0)
{
    <div class="container h-95">
        <div class="row justify-content-center">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="mt-3">
                    <form class="text-center" method="get" asp-controller="Cause" asp-action="Create">
                        <button type="submit" class="btn btn-primary">Create Cause</button>
                    </form>
                </div>
            }
            <ul class="custom-ul col-lg-10 col-md-10 col-sm-10 mt-3">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="text-center card mb-3 mx-3">
                            <div class="card-header">
                                <h2>@item.Name</h2>
                            </div>
                            <div class="card-body">
                                <h5 class="text-left mt-3">Subject: @item.Subject</h5>
                                <h6 class="text-capitalize mt-3">Published By: @item.IdentityUser.UserName</h6>
                            </div>
                            <div class="pb-3">
                                <a asp-controller="Cause" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <div class="container h-95">
        <div class="row h-95 justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="m-3">
                        <form class="text-center" method="get" asp-controller="Cause" asp-action="Create">
                            <button type="submit" class="btn btn-primary">Create Cause</button>
                        </form>
                    </div>
                }
                <div class="display-1 text-center p-5">No Causes</div>
            </div>
        </div>
    </div>
}
